@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent
@namespace Sandbox

<root>
	<div class="left-panel">
		<SantosTextEntry Title="First Name:" @ref="FirstNameEntry"/>
		<SantosTextEntry Title="Last Name:" @ref="LastNameEntry"/>
		<SantosSlider Title="Age:" Min="@(18)" Max="@(100)" />
		<SantosDropDown Title="Gender:" Options="@GenderOptions" @ref="GenderDropdown" ValueChanged="@OnGenderChanged"/>
	</div>
</root>

@code
{

	private string selectedGender = "male";
	private SantosTextEntry FirstNameEntry;
	private SantosTextEntry LastNameEntry;
	private SantosDropDown GenderDropdown; // separate ref variable
	private List<Option> GenderOptions = new List<Option>
	{
			new Option( "Male", "male" ),
			new Option( "Female", "female" ),
			new Option( "Other", "other" )
	};

	private void OnGenderChanged(string value)
	{
			selectedGender = value;
			Log.Info($"Gender selected: {selectedGender}");
	}

	protected override void OnAwake()
	{
			Mouse.Visibility = MouseVisibility.Visible;
	}
}