@import "UI/globals.scss";

CreateCharacter
{
	position: absolute;
	top: 0%;
	left: 0%;
	right: 0%;
	bottom: 0%;
	pointer-events: all;
	display: flex;
	flex-direction: column;
	color: white;

	.nav
	{
		padding-left: 3rem;
		width: 100%;
		height: 12%;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		gap: 2rem;
		// border: 1px solid red;

		.button
		{
			color: rgb(139, 139, 139);
			font-family: Poppins;
			font-size: 35px;
			font-style: italic;
		}

	.active
	{
		color: white;
		border-bottom: 1px solid $accent-color;
	}

	}

	

	.error-msg
	{
		margin-bottom: 2rem;
		padding-left: 1rem;
		color: $error;
	}


	.panel
	{
		position: relative;
		left: 0%;
		top: 0%;
		// border: 1px solid red;
		width: 40%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		
	}

	.identity
	{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: 70%;
		font-family: Poppins;
		// border: 1px solid blue;

	.next-btn {
		margin-top: 2rem;
		padding: 1rem;
		// border: 1px solid white;
		border-radius: 4rem;
		width: 75px;
		height: 75px;
		justify-content: center;
		cursor: pointer;
		background-color: transparent;
		transition: background-color 0.3s ease-out, transform 0.15s ease-out;

		&:hover {
			background-color: rgb(63, 216, 63);
			border: 2px solid rgb(40, 136, 40);
			transform: scale(1.05);
		}

		&:active {
			transform: scale(0.95);
		}
		&.error {
		background-color: rgba(220, 50, 50, 0.6);
		border: 2px solid rgb(180, 30, 30);
		}
	}

	}
	
}