$accent-color: rgb(133, 52, 170);

$bg-dark-100: black;
$bg-dark-200: rgb(10, 10, 10);
$bg-dark-200: rgb(20, 20, 20  );

$text-light-100: white;
$text-light-200: rgb(200, 200, 200);
$text-light-300: rgb(150, 150, 150);
