@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent
@namespace Sandbox

<root>
    <div class="menu-btns">
        <img src="images/logo.png" alt="logo" />
        <button onclick="@(() => LoadScene("scenes/create-character.scene"))">Create Character</button>
        <button onclick="@(() => LoadScene("scenes/load-character.scene"))">Load Character</button>
    </div>
</root>

@code
{
    private void LoadScene(string scene)
    {
        Game.ActiveScene.LoadFromFile(scene);
    }

    protected override void OnAwake()
    {
        Mouse.Visibility = MouseVisibility.Visible;
    }
}