@using Sandbox;
@using Sandbox.UI;
@inherits Panel;
@namespace Sandbox
@using System;

<root>
  <div class="dropdown-entry anim-bounce-in">
    <span class="anim-slide-left anim-delay-5">@Title</span>
    <DropDown 
      @ref="DropdownEntry"
      class="dropdown anim-slide-left anim-delay-5"
    />
  </div>
</root>

@code
{
  [Property] public string Title { get; set; }

  public DropDown DropdownEntry { get; set; }

  private List<Option> _options;

  [Property]
  public List<Option> Options 
  {
    get => _options;
    set 
    { 
      _options = value;
      if (DropdownEntry != null) 
        DropdownEntry.Options = value; 
    }
  }

  private Action<string> _valueChanged;

  [Property] 
  public Action<string> ValueChanged 
  {
    get => _valueChanged;
    set 
    { 
      _valueChanged = value;
      if (DropdownEntry != null) 
        DropdownEntry.ValueChanged = value; 
    }
  }

  private string _value; 

  [Property]
  public string Value
  {
      get => _value;
      set { _value = value; if (DropdownEntry != null) DropdownEntry.Value = value; }
  }

  protected override void OnAfterTreeRender(bool firstTime)
  {
    if (firstTime && DropdownEntry != null)
    {
      if (_options != null) DropdownEntry.Options = _options;
      if (_valueChanged != null) DropdownEntry.ValueChanged = _valueChanged;
      if (_value != null) DropdownEntry.Value = _value;
    }
  }
}