@using Sandbox;
@using Sandbox.UI;
@using System;
@inherits Panel;
@namespace Sandbox

<root>
	<div class="slider-control">
		<span>@Title</span>
    <div class="container">
      <SliderControl 
        @ref="InnerSliderEntry"
        class="slider"
        Min="@Min"
        Max="@Max"
        Step="@(1)"
      />
    </div>
	</div>
</root>

@code
{
  public SliderControl InnerSliderEntry {get; set;}
  [Property] public string Title;
  
  private float _min;
  [Property] public float Min
  {
    get => _min;
    set
    {
      _min = value;
      if (InnerSliderEntry?.Min != null) InnerSliderEntry.Min = value;
    }
  }

  private float _max;
  [Property] public float Max
  {
    get => _max;
    set
    {
      _max = value;
      if (InnerSliderEntry?.Max != null) InnerSliderEntry.Max = value;
    }
  }

  private float _value;
  [Property] public float Value
  {
    get => InnerSliderEntry?.Value ?? _value;
    set
    {
      _value = value;
      if (InnerSliderEntry != null) InnerSliderEntry.Value = value;
    }
  }

  private Action<float> _onValueChanged;
  [Property] public Action<float> OnValueChanged
  {
    get => _onValueChanged;
    set {_onValueChanged = value; if (InnerSliderEntry?.OnValueChanged != null) InnerSliderEntry.OnValueChanged = value;}
  }

  protected override void OnAfterTreeRender(bool firstTime)
  {
      base.OnAfterTreeRender(firstTime);

      if (firstTime && InnerSliderEntry != null)
      {
          InnerSliderEntry.Min = _min;
          InnerSliderEntry.Max = _max;
          InnerSliderEntry.Value = _value;
          InnerSliderEntry.OnValueChanged = _onValueChanged;
      }
  }

}