@import "UI/globals.scss";

.text-entry
{
  display: flex;
  flex-direction: column;
  color: white;
  gap: 1rem;
  padding: 1rem;
  min-width: 500px;
  font-family: Poppins;
  
  span
  {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .3rem;
    padding-left: .3rem;
  }

  .entry
  {
    background-color: transparent;
    padding: 1rem;
    border-radius: .5rem;

    border: 1px solid white;
  }
}

