@using Sandbox;
@using Sandbox.UI;
@inherits Panel;
@namespace Sandbox

<root>
	<div class="text-entry anim-bounce-up">
		<span class="anim-slide-left anim-delay-5">@Title</span>
		<TextEntry 
			@ref="InnerTextEntry"
			class="entry anim-slide-left anim-delay-5"
		/>
	</div>
</root>

@code
{
    [Property] public string Title { get; set; }

    public TextEntry InnerTextEntry { get; set; }

    private string _placeholder;
    private string _text;

    [Property]
    public string Placeholder
    {
        get => _placeholder;
        set { _placeholder = value; if (InnerTextEntry != null) InnerTextEntry.Placeholder = value; }
    }

    [Property]
    public string Text
    {
        get => _text;
        set { _text = value; if (InnerTextEntry != null) InnerTextEntry.Text = value; }
    }

    protected override void OnAfterTreeRender(bool firstTime)
    {
        base.OnAfterTreeRender(firstTime);

        if (firstTime && InnerTextEntry != null)
        {
            if (_placeholder != null) InnerTextEntry.Placeholder = _placeholder;
            if (_text != null) InnerTextEntry.Text = _text;
        }
    }
}