@using Sandbox;
@using Sandbox.UI;
@using System;
@inherits Panel;
@namespace Sandbox

<root>
	<div class="text-entry anim-bounce-up">
		<span class="anim-slide-left anim-delay-5">@Title</span>
		<NumberEntry 
			@ref="InnerNumEntry"
			class="entry anim-slide-left anim-delay-5"
      MaxLength="@MaxLength"
      MinLength="@MinLength"
		/>
	</div>
</root>

@code
{
  [Property] public string Title { get; set; }
  
  public NumberEntry InnerNumEntry {get; set;}

  [Property] public string Value
  {
    get => InnerNumEntry.Value;
    set
    {
      if (InnerNumEntry != null) InnerNumEntry.Value = value;
    }
  }

  private string _placeholder;
  [Property] public string Placeholder
  {
      get => _placeholder;
      set { _placeholder = value; if (InnerNumEntry != null) InnerNumEntry.Placeholder = value; }
  }

  private int _minLegnth;
  [Property] public int MinLength
  {
    get => _minLegnth;
    set { _minLegnth = value; if (InnerNumEntry != null) InnerNumEntry.MinLength = value; }
  }

  private int _maxLength;
  [Property] public int MaxLength
  {
    get => _maxLength;
    set { _maxLength = value; if (InnerNumEntry != null) InnerNumEntry.MaxLength = value; }
  }

  protected override void OnAfterTreeRender(bool firstTime)
  {
      base.OnAfterTreeRender(firstTime);

      if (firstTime && InnerNumEntry != null)
      {
          if (_placeholder != null) InnerNumEntry.Placeholder = _placeholder;
      }
  }
}