@using Sandbox;
@using Sandbox.UI;
@inherits Panel;
@namespace Sandbox

<root>
	<div class="text-entry anim-bounce-up">
		<span class="anim-slide-left anim-delay-5">@Title</span>
		<TextEntry 
			@ref="InnerTextEntry"
			class="entry anim-slide-left anim-delay-5"
            MinLength="@MinLength"
            MaxLength="@MaxLength"
		/>
	</div>
</root>

@code
{
    [Property] public string Title { get; set; }

    public TextEntry InnerTextEntry { get; set; }

    private string _placeholder;
    private string _text;


    [Property] public string Placeholder
    {
        get => _placeholder;
        set { _placeholder = value; if (InnerTextEntry != null) InnerTextEntry.Placeholder = value; }
    }

   
    [Property] public string Text
    {
        get => InnerTextEntry?.Text ?? _text;
        set { _text = value; if (InnerTextEntry != null) InnerTextEntry.Text = value; }
    }

    private int _minLegnth;
    [Property] public int MinLength
    {
        get => _minLegnth;
        set { _minLegnth = value; if (InnerTextEntry != null) InnerTextEntry.MinLength = value; }
    }

    private int _maxLength;
    [Property] public int MaxLength
    {
        get => _maxLength;
        set { _maxLength = value; if (InnerTextEntry != null) InnerTextEntry.MaxLength = value; }
    }

    protected override void OnAfterTreeRender(bool firstTime)
    {
        base.OnAfterTreeRender(firstTime);

        if (firstTime && InnerTextEntry != null)
        {
            if (_placeholder != null) InnerTextEntry.Placeholder = _placeholder;
            if (_text != null) InnerTextEntry.Text = _text;
        }
    }
}