@import "UI/globals.scss";

.dropdown-entry
{
  display: flex;
  flex-direction: column;
  color: white;
  gap: 1rem;
  padding: 1rem;
  font-family: Poppins;
  min-width: 500px;
}

span
{
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .3rem;
  padding-left: .3rem;
}

.dropdown
{
  color: $text-light-300;

  padding: 1rem;
  background-color: transparent;

}