@import "UI/globals.scss";

.slider-control
{
  display: flex;
  flex-direction: column;
  color: white;
  gap: 1rem;
  padding: 1rem;
  font-family: Poppins;
  min-width: 500px;
  
  span
  {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .3rem;
    padding-left: .3rem;
  }

  .container
  {
    background-color: transparent;
    padding: 1rem;
  }

  .slider
  {


  }
}